body {
  text-align: center;
  color: white;
}

h1 {
  font-size: 52px;
}

h2 {
  font-weight: 500;
  font-size: 100px;
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  font-size: 50px;
}

#login-form input {
  width: 50%;
  border: none;
  background: transparent;
  font-size: 40px;
  margin: 3px;
  text-align: center;
  color: white;
  border-bottom: 2px solid #ecf0f1;
}
::placeholder {
  color: white;
}

#login-form input#login {
  padding-top: 5px;

  border: none;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  list-style: none;
  font-size: 20px;
  text-align: left;
  border-bottom: 2px solid #ecf0f1;
  padding-top: 10px;
}

ul#todo-list span {
  width: 600px;
  margin-top: 5px;
  font-weight: 700;
}

ul#todo-list li {
  display: flex;
}

li:before {
  padding: 5px;
}

.first {
  margin-bottom: 30px;
}

button {
  border: none;
  background: transparent;
  font-size: 22px;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

form#login-form.hidden {
  display: none;
}

#weather {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 25px;
  font-weight: 700;
}

form#todo-form {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

form#todo-form input {
  width: 40%;
  height: 30px;
}
form#todo-form input::placeholder {
  font-size: 15px;
  color: black;
}
